* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  body {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    position: relative;
    background: #888585;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
  }
  
  .customslider + label {
    position: relative;
    top: 4rem;
    left: 25px;
    cursor: pointer;
    padding: 15px;
  }
  .customslider + label:before, 
  .customslider + label:after {
    background: #FFFFFF;
    position: absolute;
    content: '';
  }
  .customslider + label:before {
    top: -90px;
    left: -60px;
    width: 80px;
    height: 40px;
    background: #ccc;
    border-radius: 20px;
    transition: background .75s;
  }
  .customslider + label:after {
    height: 34px;
    width: 34px;
    top: -87px;
    left: -55px;
    border-radius: 50%;
    transition: all .5s;
  }
  .customslider:checked + label:after {
    height: 34px;
    width: 34px;
    top: -87px;
    left: -19px;
    border-radius: 50%;
  }
  .customslider:checked ~ .container {
    color: #fff;
    transition: background .6s ease;
    background: #31394D;
  }
  .customslider:checked ~ .container .top-icons i {
    color: #fff;
  }
  .customslider:checked ~ .container .profile .name {
    color: #FDFEFF;
  }
  .customslider:checked ~ .container .profile .title {
    color: #7C8097;
  }
  .customslider:checked ~ .container .profile .description {
    color: #FDFEFF;
  }
  .customslider:checked ~ .container .icon h4 {
    color: #FFFFFF;
  }
  .customslider:checked ~ .container .icon p {
    color: #666B7D;
  }
  .container {
    width: 320px;
    height: 640px;
    background: #FDFEFF;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  }
  .container .top-icons i {
    color: #080911;
  }
  .container .top-icons-1 {
    float: left;
  }
  .container .top-icons-2 {
    float: right;
    padding-left: 235px;
  }
  .container .profile {
    margin-top: 2.2em;
    position: relative;
  }
  .container .profile:after {
    width: 100%;
    height: 1px;
    content: ' ';
    display: block;
    margin-top: 1.3em;
    background: #6b6c6d;
  }
  .container .profile .check {
    position: absolute;
    right: 3.5em;
    bottom: 12.6em;
  }
  .container .profile .check i {
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #6452E9, #639FF9);
  }
  .container .profile .thumbnail {
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .container .profile .name {
    color: #2D354A;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  .container .profile .title {
    color: #7C8097;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .container .profile .description {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
  }
  .container .profile .btn {
    color: #fff;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
    background: linear-gradient(to bottom right, #6452E9, #639FF9);
  }
  .container .social-icons {
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
  }
  .container .social-icons .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container .social-icons .icon a {
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .container .social-icons #icon-1  a {
    background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  }
  .container .social-icons #icon-2 a {
    background: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
  }
  .container .social-icons #icon-3 a {
    background: #f85032;  
    background: linear-gradient(to right, #e73827, #f85032);
  }
  .container .social-icons .icon h4 {
    color: #080911;
    font-size: 1em;
    margin-top: 1.3em;
    margin-bottom: .2em;
  }
  .container .social-icons .icon p {
    color: #666B7D;
    font-size: 12px;
  } 
  
    